html {
    background-color: black;
}

body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**body div {
    border: 1px solid;
}**/

.container {
    background-color: white;
    border: 5px solid rgb(181, 20, 20);
    height: 500px;
    width: 300px
}

.display {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px ;
    justify-content: flex-end;
    align-items: flex-end;
    border: 3px solid;
}

#output {
    font-size: 50px;
}

.btn-container {
    margin: 10px;
    height: 340.65px;
    display: flex;
   
    gap: 4.5px;
}

.btn-container div div {
    height: 60.65px;
    width: 60.65px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: xx-large;
    font-family: 'Open Sans';
    border: 3px solid;

}   

.column {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
